*{
  padding: 0;
  margin: 0;
}

.mainContainer{
  flex-direction: column;
  align-items: center;
  /* padding-right: 2rem; */
}

.navbar{
  height: 3rem;
 max-width:  80vw;
  margin-right: 6rem;
  margin-left: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: darkmagenta; */
}


#logo{
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  #subLogo{
   background-color: rgba(97, 83, 100, 0.554);
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }
}

ul{
  width: 30vw;
  display: flex;
  justify-content: space-around;
   cursor: pointer;
   font-size: 1.1rem;


}
   #AddBtn{
    background-color: rgba(97, 83, 100, 0.554);
    color: black;
    font-size: 1.2rem;
    width: 4rem;
    height: 1.7rem;
    border: none;

    #cartCount{
      color: red;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 600;
    }

   }

/* For screens under 768px (tablets + mobile) */
@media (max-width: 768px) {
  .navbar {
    max-width: 100vw;
    
    /* margin:  0.1rem; */
    /* background-color: blue; */
  }
#logo{
  width: 14rem;
  font-size: 1.5rem;
  /* background-color: aqua; */
   text-align: center;
}


  ul {
    width: 60vw;
    font-size: 1rem;
  }

   .heroImg {
      
        height: 40vh;
    }
}

/* For screens under 480px (mobile) */
@media (max-width: 480px) {

.mainContainer{
  padding-right: .6rem;
  
}
  
  .navbar {
    flex-direction: column;
    height: auto;
    gap: 0.5rem;
    margin: 0;
    padding: 0.5rem;
  }

  ul {
    width: 80%;
    justify-content: space-between;
    font-size: 0.9rem;
  }

   .heroSection{
      position: relative;
      top: -8rem;
      height: 30vh;
     margin-bottom: .5rem;
     
    }

    .heroImg {
        width: 50vw;
        position: absolute;
        top: -6rem;
        right: -0.8rem;
        
        height: 1rem;
         object-fit: contain; 
          padding-right: 0.6rem;
          padding: 1rem;
    }
}

.heroSection {
    text-align: center;
}
.heroImg {
    width: 95vw;
    height: 70vh;
    
}



